<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button> <!-- Flecha para volver -->
    </ion-buttons>
    <ion-title>Notas</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addNota()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let nota of notas">
      <ion-label>
        <h2>{{ nota.title }}</h2>
        <p>{{ nota.body }}</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button (click)="editNota(nota)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="confirmDelete(nota.id)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>
