<ion-content [fullscreen]="true">
  <div class="top-section">
    <!-- Logo -->
    <img src="assets/Images/logo.png" alt="Logo" class="logo">
    <h1>Recupera tu contraseña</h1>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ingresa tu Nombre de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="nombreUsuario" name="nombreUsuario" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit">Enviar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>

  <ion-button class="custom-button" color="danger" expand="block" (click)="cancelar()">Cancelar</ion-button>
</ion-content>

<ion-footer>
  <ion-toolbar color="fulldark" class="ion-text-center"></ion-toolbar>
</ion-footer>
