<ion-content [fullscreen]="true" color="fulldark">
  <div class="top-section">
    <div class="logo-container">
      <ion-img src="assets/Images/logo.png" alt="Logo"></ion-img>
    </div>
  </div>
  <ion-list lines="none" class="ion-margin">
    <ion-item color="dark" class="ion-margin-vertical">
      <ion-icon name="person-outline" slot="start" color="fulldark"></ion-icon>
      <ion-input placeholder="Usuario" type="text" [(ngModel)]="nombreUsuario"></ion-input>
    </ion-item>
    <ion-item color="dark" class="ion-margin-vertical">
      <ion-icon name="lock-closed-outline" slot="start" color="fulldark"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
    </ion-item>
    <ion-row class="ion-margin-bottom">
      <ion-col size="6" class="alignItems">
        <ion-icon *ngIf="recuerdame" name="checkmark-circle-outline" color="success" (click)="changeStatus(false)"></ion-icon>
        <ion-icon *ngIf="!recuerdame" name="close-circle-outline" color="danger" (click)="changeStatus(true)"></ion-icon>
        <ion-note>Recuérdame</ion-note>
      </ion-col>
    </ion-row>
    <ion-button class="custom-button" color="success" expand="block" size="large" (click)="navigateToInicio()">Ingresar</ion-button>
    <ion-text class="ion-text-center">
      <p>
        <ion-note>¿Olvidaste tu contraseña? </ion-note>
        <ion-text color="success" (click)="navigateToRestauracion()">Recupérala aquí</ion-text>
      </p>
    </ion-text>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="fulldark" class="ion-text-center"></ion-toolbar>
  <ion-note>HOLAaa</ion-note>
</ion-footer>

